@font-face {
    font-family: 'MakeIt Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/makeit-sans.woff2') format('woff2'),
    url('./fonts/makeit-sans.woff') format('woff');
}

@font-face {
    font-family: 'MakeIt Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/makeit-sans-bold.woff2') format('woff2'),
    url('./fonts/makeit-sans-bold.woff') format('woff');
}

body {
font-family: "MakeIt Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}
