version: 2.1

docker: &DOCKER_NODE
  docker:
    - image: cimg/node:lts

bob_the_builder: &BOB_THE_BUILDER
  docker:
    - image: 379129775379.dkr.ecr.eu-central-1.amazonaws.com/platform/autoscout24/bob-the-builder:main

  environment:
    AWS_DEFAULT_REGION: eu-central-1
    DOCKER_REPOSITORY: 379129775379.dkr.ecr.eu-central-1.amazonaws.com
    DOCKER_NAMESPACE: frontend

  resource_class: small

slack_context: &SLACK_NOTIFICATION_CONTEXT
  context:
    - &SLACK_NOTIFICATION_CONTEXT_ENTRY FE Slack notifications

phrase_context: &PHRASE_CONTEXT
  context:
    - CLI Phrase
    - *SLACK_NOTIFICATION_CONTEXT_ENTRY

npm_publishing_context: &NPM_PUBLISHING_CONTEXT
  context:
    - *SLACK_NOTIFICATION_CONTEXT_ENTRY
    - NPM package publishing

aws_context: &AWS_CONTEXT
  context:
    - *SLACK_NOTIFICATION_CONTEXT_ENTRY
    - AWS credentials

slack_notify: &SLACK_NOTIFY
  slack/notify:
    event: fail
    template: basic_fail_1
    branch_pattern: main

orbs:
  slack: circleci/slack@6.0.0

jobs:
  install:
    <<: *DOCKER_NODE
    resource_class: small
    steps:
      - checkout
      - restore_cache:
          key: v1-npm-{{ checksum "package-lock.json" }}
      - run: npm ci
      - run: npm ls
      - save_cache:
          key: v1-npm-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
      - persist_to_workspace:
          root: ~/
          paths:
            - project
      - <<: *SLACK_NOTIFY

  unit:
    <<: *DOCKER_NODE
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - run:
          command: npm run test -- --runInBand
          no_output_timeout: 3m
      - <<: *SLACK_NOTIFY

  lint:
    <<: *DOCKER_NODE
    resource_class: medium
    steps:
      - attach_workspace:
          at: ~/
      - run: npm run lint
      - <<: *SLACK_NOTIFY

  typecheck:
    <<: *DOCKER_NODE
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - run:
          command: npm run typecheck
          no_output_timeout: 1m
      - <<: *SLACK_NOTIFY

  phrase_push:
    <<: *DOCKER_NODE
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - run: npx au-phrase push
      - <<: *SLACK_NOTIFY

  build:
    <<: *DOCKER_NODE
    resource_class: medium
    steps:
      - attach_workspace:
          at: ~/
      - run: npm run build
      - persist_to_workspace:
          root: ~/
          paths:
            - project/dist
      - <<: *SLACK_NOTIFY

  pre_release:
    <<: *DOCKER_NODE
    resource_class: medium
    steps:
      - attach_workspace:
          at: ~/
      # manually set PR shell variables to empty to build pull request
      - run: CI_PULL_REQUEST= CIRCLE_PULL_REQUEST= npx semantic-release
      - <<: *SLACK_NOTIFY

  release:
    <<: *DOCKER_NODE
    resource_class: medium
    steps:
      - attach_workspace:
          at: ~/
      - run: npx semantic-release
      - <<: *SLACK_NOTIFY

  docker_build:
    <<: *BOB_THE_BUILDER
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: /build/build.sh
      - run: /push/push.sh
      - <<: *SLACK_NOTIFY

  deploy_branch:
    <<: *BOB_THE_BUILDER
    resource_class: small
    steps:
      - checkout
      - run: STAGE_NAME=branch /deploy/deploy.sh
      - run: STAGE_NAME=branch /deploy/branch_deployment_url.sh > deployment-url
      - persist_to_workspace:
          root: ~/project
          paths:
            - deployment-url
      - <<: *SLACK_NOTIFY

workflows:
  test_and_release:
    jobs:
      - install:
          <<: *SLACK_NOTIFICATION_CONTEXT
      - unit:
          <<: *SLACK_NOTIFICATION_CONTEXT
          requires:
            - install
      - lint:
          <<: *SLACK_NOTIFICATION_CONTEXT
          requires:
            - install
      - typecheck:
          <<: *SLACK_NOTIFICATION_CONTEXT
          requires:
            - install
      - phrase_push:
          <<: *PHRASE_CONTEXT
          requires:
            - install
          filters:
            branches:
              only: main
      - build:
          <<: *SLACK_NOTIFICATION_CONTEXT
          requires:
            - install
      - pre_release:
          <<: *NPM_PUBLISHING_CONTEXT
          requires:
            - lint
            - unit
            - typecheck
            - build
          filters:
            branches:
              ignore: main
      - release:
          <<: *NPM_PUBLISHING_CONTEXT
          requires:
            - lint
            - unit
            - typecheck
            - build
          filters:
            branches:
              only: main
      - docker_build:
          <<: *AWS_CONTEXT
      - deploy_branch:
          <<: *AWS_CONTEXT
          requires:
            - docker_build
